{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h1 class="project-title">{{ project.title }}</h1>

        <div class="project-actions">
            {% if user.role == "MANAGER" %}
                <a href="{% url 'project_delete' project.pk %}" class="task-btn delete-btn">Delete</a>
            {% endif %}
            <a href="{% url 'project_list' %}" class="secondaryback-btn">Back</a>
        </div>
    </div>

    <p class="meta">Team: {{ project.team.name }}</p>

    <p>{{ project.description }}</p>

    <p class="meta">
        Created by {{ project.creator }} • {{ project.start_date }} → {{ project.end_date }}
    </p>
</div>

<hr>

<h2>Tasks</h2>

<ul>
    {% for task in tasks %}
        <li>
            {% if is_team_manager or task.assignee == user %}
                <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
            {% else %}
                {{ task.title }}
            {% endif %}
            - {{ task.get_status_display }}
        </li>
    {% empty %}
        <li>No tasks in this project.</li>
    {% endfor %}
</ul>
{% endblock %}