# conda  environment
env/
ENV/
.conda/
conda-meta/

# Virtual environment 
venv/


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


